@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&family=Poppins:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a2e;
  color: #e0e0e0; 
  line-height: 1.6;
}

code {
  font-family: 'Roboto Mono', monospace; 
}

* {
  box-sizing: border-box;
}

a {
  color: #7f7fd5; 
  text-decoration: none;
}

a:hover {
  color: #86a8e7;
}